*
    margin: 0
    padding: 0
   
.main
    display: flex
    justify-content: space-between
    align-items: center
    background: rgba(0,0 ,0 ,0.5 )
    width: 100%
    height: 40px

audio 
    display: block
    margin: 2% auto
    max-width: 50%

.color1
    background: #ff8080
    margin: 0 2%
    width: 20px
    height: 20px
    border-radius: 50%
    cursor: pointer
    
.color2
    background: #ffbf80
    @extend .color1

.color3
    background: #ffe680
    @extend .color1

.color4
    background: #80bfff
    @extend .color1

.color5
    background: #8080ff
    @extend .color1

.color6
    background: #80ffff
    @extend .color1

.color7
    background: #80ffdf
    @extend .color1

.color8
    background: #ff80ff
    @extend .color1

.color9
    background: #99e699
    @extend .color1

.color10
    background: #df9f9f
    @extend .color1

.img
    display: flex
    margin: 7% auto
    max-width: 800px
    max-height: 500px
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    transition: ease-in-out 2s
    overflow: hidden
    box-shadow: 10px 10px 8px black
    border: 5px solid white
    border-radius: 5px

img  
    width: 100%
        
footer
    position: absolute
    bottom: 0.5%
    width: 100%
    margin: 0 auto
    display: flex
    justify-content: center
    align-items: center
    
a
   padding: 0 1%
   margin-bottom: 0
   text-decoration: none
   color: white
   background: black
   border-radius: 20px
    
